@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");
*{
    margin:0;
    padding: 1px;
    font-family:cursive;
    background-color: #cfe0de;
}
.frame {
        text-align: center;
        border-style:outset
}
/* Navigation */

.class_nav
    {
    display: flex;
    padding-top: 10px;
    border: solid black 2px;
    justify-content: space-around;
     }
    .nav_name{
        justify-content: left;
        font-weight: 10px;
        font-family: "dancingscript", cursive;
        font-size: 20px;        
    }
    .nav_link{
        align-items: flex-end;
        justify-content: end;
       }
    #buttons_small{
        background-color: lightgrey;

    }
    a:hover {
        background-color: white;
        color: black; 
    }

    .Class_Mid{
        border: solid black 2px;
        background-color: aqua;
        padding-top: 10px;
        margin: 0;
        Display: flex;
        align-items: row;
        justify-content: space-evenly;
        /* width: 100%;
        height: 50px; */
    }
        .Left_side{
            display: flex;
            flex-direction: column;
            align-items: centre;
            width: 100%;
            height: 150px;
                   
        }
        .Right_side{
            width: 100%;
            justify-content: flex-end;
            /*height: 150px;*/
        }
    .Buttons{
        background-color: #4CAF50; 
        border: none;
        color: white;
        max-width: fit-content;
        text-align: center;
        margin: 50px auto;
    } 
    .Skill_Mid{
        border: solid red 2px;
        padding-top:100px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
    }
    #Heading{
        font-weight: bolder;
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #Tech_detail{
        font-size: medium;
    }

    .Skill{
        display: flex;
        justify-content: space-around;
        align-items:center;
         }
    .skill_name{
    display: flex;
    justify-content: space-around;
    align-items:center;
    }
   .Proj-Grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 150px 150px 150px;
    gap:10px;
   }
   .Card{
    display: inline;
    margin: 5pm auto;
    border: solid red 2px;

   }
    
        /* display: grid;
        grid-template-columns: 80px 80px 80px 80px 80px;
        grid-template-rows: 150px 150px;
        align-content: center;
        justify-content: space-around; */