@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");
*{
    margin:0;
    padding: 1px;
    font-family:cursive;
    background-color: #cfe0de;
}
/*
.frame {
        text-align: center;
        border-style:outset
}
Navigation */

.class_nav
    {
     display: flex; 
    padding-top: 10px;
    border: solid black 2px;
    justify-content: space-between;
    }
     
    .nav_name{
        text-align: left;
        font-weight: 10px;
        align-content: flex-start;
        font-family: "dancingscript", cursive;
        font-size: 20px;        
    }
    .nav_link{
        display:flex;
        align-items: flex-end;
        margin-left: 10px;
        justify-items:space-evenly;
       }
    #buttons_small{
        background-color: lightgrey;
        margin: 0 30px;
        padding: 10px 15px;
        border-radius: 15px;

    }
    a:hover {
        background-color: blue;
        color: black; 
    }

    .Class_Mid{
        background-color: aqua;
        padding-top: 10px;
        margin: 0;
        display:inline-flex;
        width:100%;
        flex-direction:row;
        align-items: center;
 
    }
        .Left_side{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 10px;
            height: 150px;
            border: 2px bold black;
                   
        }
        .right_side{
            width: 30%;
            /* height:200px; */
            align-items: right;
            justify-content: flex-end;
            /*height: 150px;*/
        }
        .Buttons{
            background-color: #4CAF50; 
            border: none;
            color: white;
            max-width: fit-content;
            text-align: center;
            margin: 50px auto;
            padding: 10px 15px;
            border-radius: 15px;

    } 
    .Skill_Mid{
        border: solid red 2px;
        padding: top 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
        #Tech_detail{
            padding:10px;
            font-size: medium;
        }
        .Skill{
            padding:10px;
            display: flex;
            justify-content: space-around;
            align-items:center;
             }
        .skill_name{
            display: flex;
            justify-content: space-around;
            align-items:center;
             }
        i::first-letter{
            font: bolder;
        }
    h3
    {text-align: center;
    font-style: bold;}
    
   .Proj-Grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    gap:10px;
   }
   .Card{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    margin: 5pm auto;
    
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;

    }
       .para{
            font-size: 10px;
            color:blue;
             }
        .para:hover{
            color :red
        }
    
        /* display: grid;
        grid-template-columns: 80px 80px 80px 80px 80px;
        grid-template-rows: 150px 150px;
        align-content: center;
        justify-content: space-around; */
        @media screen and (max-width: 800px) {
            .Proj-Grid {
                        flex: flex-wrap;
                       max-width: 50%;
            }
         