
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin:0;
    padding: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background:#E3F6F5;
    
}
    $font-dark:black;
    $font-light:white;
    $font-hover:blue;


//Section 1- About Navigation bar //

.nav
    {
    display: flex; 
    padding-top: 10px;
    justify-content: space-between; 
    border-style: groove;
    
    &__name{
        text-align: left;
        font-weight: 10px;
        align-content: flex-start;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;        
        }
    &__name:hover{
            color: red;
            font-weight: bold;
        }    
     
    &__container{
        display: flex;
        flex-direction: row;
   
        &__link{
            // border: 2px solid black;
            display:flex;
            margin-left: 15px;
            justify-content: space-be;
            padding: 0 15px;
            font-size: 25px;
            width:250px;
       
            &__one:hover,
            &__two:hover,
            &__three:hover{
                background-color: $font-light;
                color: red;
            }
            &__one,&__two,&__three{
                margin-right:  3px;
                text-decoration: none;
            }

        }
    }    
        &__buttons{
            background-color: lightgreen;
            padding: 10px ;
            font:black;
            border-radius: 15px;
            }    
        &__buttons:hover{
            background-color: lightgray;
            color:$font-hover;
            border-radius: 15px;
        }    
    }
    
//Section 2- About introduction //
    
    .intro{
         padding-top: 10px;
        margin: 0;
        display:flex;
        width:100vw;
        flex-direction:row;
        align-items: center;
        border-style: groove;
 
        &__leftside{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            padding: 10px;
            height: 150px;
            border: 2px bold black;
              
            &__mid-para{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 80px;
                color: red;
            }
            &__name{
                font-size: 30px;
                font-weight: bold;
            }
            &__name:hover{
                font-size: 30px;
                font-weight: bold;
                color: red;
            }
        }
        &__right_side{
            align-items: right;
            justify-content: flex-end;
            border-radius: 20px;
        }
    }  
    // cannot figure out which parent container will this go into 
        .left_buttons{
            background-color: lightgreen; 
            border: none;
            color: black;
            max-width: fit-content;
            text-align: center;
            margin: 50px auto;
            padding: 10px 15px;
            border-radius: 15px;
            cursor: pointer;

        }   
        .left_buttons:hover{
            background-color: lightgray;
            color:$font-hover;
            border-radius: 15px;

            }    
           
        
 //Section 3- About skill //       
 
    .skill_mid{
        border-style: groove;
        padding: top 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
     
        &__name{
         font-size: 30px;
        font-weight: bold;
        text-align: center;
        }
    
        &__Tech-detail{
            padding:10px;
            font-size: medium;
           }  
        &__skill{
            padding:10px;
            display: flex;
            justify-content: space-around;
            align-items:center;
        }
        &__tabs-skill_name{
            display: flex;
            justify-content: space-around;
            align-items:center;
          
             }
    }
           
//Section 4- About Project Grid //   
    .proj__sec{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        
    }
   .proj-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    gap:20px;
     }
       .card{
        margin: 2px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
            &__box{
                width:40%;
                height:200px;
                background-color: #E3F6F5;
                outline-style: inset;
                border-radius: 10px;
                box-shadow: 2px;
                }
                &__box:hover{
                    outline-color: aqua;
            }
            &__proj1_name{
                margin: 10px;
                font-size: 16px;
                color: #8ef3f3;
                font-weight: 600px;
                align-content: flex-start;
            }
            &__proj1_name:hover{
            color: $font-hover;
             
            }
            
            &__proj1_heading{
                margin: 10px;
                font-size: 38px;
                color:  $font-dark;
                font-weight: 600px;
            }       
            &__proj1_heading:hover{
                color: $font-hover;
            }
            &__proj1_detail{
                margin: 10px;
                font-size: 18px;
                color: #8ef3f3;
                font-weight: 400px;
            }       
            &__proj1_detail:hover{
                color: $font-hover;
            }    
            // Ques-Where does this icon lie under
            .icons{
                color:$font-dark;
                font-size: 14px;
                padding: 10px;
                }
            .icons:hover{
                color: $font-hover;
            }    
      }     
//Section 5- About Me //

    .about__header{
        margin-top: 50px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        border-top:  groove;
    }
    .about{
           display: flex;
           flex-direction: row;
           justify-content: space-around;

           &__left{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
                &__head, &__para{
                    font-size: 20px;                    
                }
           }
 
            &__right-pic{
                width: 100%;
                border-radius: 15px;
                border: 1px solid $font-dark;
                background-size: cover;
                background-position: center;
            }
        }
           
 
    
//Section 6- Footer //
    .foot {
        border-top:  groove;
        display:flex;
        justify-content: space-between;
        // background-color: lightgray;
        &__email{
            color: $font-hover;
            font-size: 30px;
        }
        .container{
            display: flex;
            font-size: 60px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
        }
        .link{
            height:200px;
            width: 90px;
            background-color:#caf7e3;
            border-radius: 35px;
            text-align: center;
            margin:7px;
            line-height: 80px;
        }

        a i {transition:all 0.3s linear;}
        a:hover i{transition: scale(2.5);
        .linkedin:hover{color:#04009a;}
        .github:hover{color:black};
        .instra:hover{color:#00adb5}

    }
     
    }  
          
    @media screen and (max-width: 1000px) {
            .nav {
                display: none;
            }
        
            .proj-Grid {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap:wrap;
                gap: 10px;
                margin: 20px;
            }  
            
            .about{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                    &__right-pic, &__left {
                    flex: 100%;
                    border-radius: 50%;
                   }
            }   
            .foot{
                display: none;
            }
            
    }   
        
       